#Ignore the Mac OSX .DS_Store files
.DS_Store

#Ignore user-specific settings
# XCode
*.mode1v3
*.mode2v3
*.pbxuser
!default.pbxuser
*.perspective
!default.mode1v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout

# Visual Studio
*.user
*.suo
*.sdf
*.sln.docstates
Debug/
Release/

#Ignore temp, swap and intermediate files
*.swp
*~.nib
*.o
*.obj
*.pch

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
